@font-face {
    font-family: DOOM;
    src: url("../fonts/amazdoom");
}

/* PHONE CHECKER */

.phone_block {
    background: black;
    padding: 100px 0;
}

.inner_phone_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--orange);
    height: 300px;
    border-radius: 20px;
    align-items: center;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_phone button {
    width: 100%;
    margin: 20px 0;
}

/* TAB SLIDER */
* {
    margin: 0;
    padding: 0;
    font-family: 'DOOM';
}
@font-face {
    font-family: 'DOOM';
    src: url(../fonts/amazdoom/AmazDooMLeftOutline.ttf)
}
@font-face {
    font-family: 'DOOM-FIELD';
    src: url(../fonts/amazdoom/AmazDooMLeft.ttf);
}
@font-face {
    font-family: 'RIVER';
    src: url(../fonts/amazdoom/AmazDooMLeft.ttf);
}


:root {
    --orange: orange;
}



.tab-slider {
    width: 100%;
    margin: auto;
    border: 2px solid var(--orange);
}

.sliders {
    max-width: 1400px;
    height: 600px;
    background: lime;
    align-items: center;
    margin: auto;
    border: 2px solid var(--orange);
}

.tab_content_block {
    text-align: center;
    background: #000;
    width: 100%;
    height: 600px;
    object-fit: cover;
    text-align: center;
    box-shadow: inset 0 0 30px 30px rgba(255, 166, 0, 0.421);
    overflow: hidden;
}

.tab_content_block > h4 {
    color: var(--orange);
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 50px;
}

.tab_content_block p {
    color: #fff;
    display: flex;
    font-family: 'DOOM-FIELD';
    font-size: 20px;
    background: #161616;
    max-width: 1200px;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 20px 20px 0 0;
    font-family: 'RIVER';
}

.slider--video {
    width: 1220px;
    height: 300px;
    display: flex;
    margin: auto;
}

.slider--video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tab_content_items {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: auto;
    display: flex;
}

.tab_content_item {
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    display: flex;
    border: 1px solid #000;
    background: #0000004b;
    white-space: nowrap;
    height: 50px;
    font-family: 'DOOM-FIELD';
}

.tab_content_item:focus {
    border: 1px solid white;
    background: var(--orange);
    color: black;
    font-family: 'DOOM';
}

/*------CARD SWITCHER------*/

.card_switcher {
    background-color: black;
    padding: 100px 0;
}

.card {
    width: 500px;
    height: 150px;
    border: 1px solid var(--orange);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.card p {
    color: var(--orange);
    font-size: 20px;
}

.card span {
    color: white;
    font-size: 30px;
}

.inner_card_switcher {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*-------CONVERTER--------*/


.converter {
    padding: 100px 0;
    background-color: black;
}

.inner_converter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.inner_converter > div {
    display: flex;
    flex-direction: column;
}

/*------WEATHER------*/

.weather {
    padding: 100px 0;
    background-color: black;
}

.inner_weather > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 25px;
}

.inner_weather {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

hr {
    width: 100%;
}